/* Common colors used in this app */
$grey-1: #4d4d4d;
$grey-2: #939ba3;
$shadow-color: #eff2f5;
$green: #69cb86;
$blue: #006ecc;
$purple: #9c27b0;

/* Common spacing value */
$sp-xxxs: 8px;
$sp-xxs: 12px;
$sp-xs: 16px;
$sp-s: 20px;
$sp-m: 24px;
$sp-l: 32px;
$sp-xl: 40px;
$sp-xxl: 48px;
$sp-xxxl: 56px;

/* Mobile Screen size */
$mobile-size: 767px;

a {
  cursor: pointer;
  color: $blue;
  te:bold;
}

a:hover {
  text-decoration: underline;
  color: $blue;
}
