/* Common colors used in this app */
$grey-1: #4D4D4D;
$grey-2: #939BA3;
$shadow-color: #EFF2F5;
$green: #69CB86;
$blue: #2196F3;
$purple: #9C27B0;

/* Common spacing value */ 
$sp-xxxs: 8px;
$sp-xxs: 12px;
$sp-xs: 16px;
$sp-s: 20px;
$sp-m: 24px;
$sp-l: 32px;
$sp-xl: 40px;
$sp-xxl: 48px;
$sp-xxxl: 56px;

/* Mobile Screen size */
$mobile-size: 767px;

