<div ngClass="container {{tagColor}}" (click)="onEventClick()">
    <h5 class="container__header">{{ name }}</h5>
    <div class="container__item">
        <p class="container__item--title">Date/Time</p>
        <p>:</p>
        <p class="container__item--content">{{dateTime}}</p>
    </div>
    <div class="container__item">
        <p class="container__item--title">Venue</p>
        <p>:</p>
        <p class="container__item--content">{{venue}}</p>
    </div>
    <div class="container__item">
        <p class="container__item--title">Hosted By</p>
        <p>:</p>
        <p class="container__item--content">{{hosts}}</p>
    </div>
</div>
