@import "./styles/variables";

// .main-container {
// //   width: 62.5rem;
// //   margin: $sp-l 0;
// width: 50%;
//   margin: 0 auto;
//   padding: 0;
//   @media (min-width: 768px) {
//     margin: $sp-m $sp-xs 0 $sp-xs;
//   }
// }

#outer-container {
  display: table;
  margin: 0 auto;
  width: 1000px;
  padding: $sp-l $sp-m;
}


