@import "./styles/variables";

#outer-container {
  display: table;
  margin: 0 auto;
  max-width: 1000px;
  padding: $sp-l $sp-m;
  @media screen and (max-width: $mobile-size) {
    padding: $sp-m $sp-xs;
  }
}


