@import "../../styles/variables";
dl {
  display: flex;
  height: 52px;
  margin: 0;
  padding: 0 24px;
  background: #fff;
  align-items: center;
  border-bottom: 1px solid #e3e6e8;
  @media screen and (max-width: $mobile-size) {
    margin: 0 -16px;
    padding: 0 16px;
  }
}

dl:hover {
  cursor: pointer;
  background: rgba(0,0,0,.10);;
  transition: 0.3s;
}

dd {
  margin: 0;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @media screen and (max-width: $mobile-size) {
    font-size: 16px;
  }
}

dd:nth-child(1)  {
  flex: 0 0 380px;
  @media screen and (max-width: $mobile-size) {
    flex: 0 0 200px;
  }
}

dd:nth-child(2) {
  flex: 1 0;
  text-align: left;
}

dd:nth-child(3) {
  flex: 1 0;
  text-align: right;
}

.checkin-link {
  @media screen and (max-width: $mobile-size) {
    display: none;
  }
}

.icon {
  height: 20px;
  padding: 0 28px 0 0;
  @media screen and (max-width: $mobile-size) {
    padding: 0;
  }
}
