<section class="today-section">
  <h1 id="header">Today's Event</h1>
  <h3 id="sub-header">
    This section shows you today's event
  </h3>
  <app-card
    [dateTime]="'June 8, 2020 at 8:00 pm'"
    [venue]="'ihouse studio'"
    [hosts]="'abc'"
    [tagColor]="tagColors.BLUE"
  ></app-card>
</section>

<section>
  <h1 id="header">Up coming event in June</h1>
  <h3 id="sub-header">
    This section show you all of the upcoming events in June
  </h3>
  <div class="card-container">
    <div *ngFor="let event of events" >
        <div class="card-content">
          <app-card
            [dateTime]="event.dateTime"
            [venue]="event.venue"
            [hosts]="event.hosts"
            [tagColor]="event.tagColor"
          ></app-card>
        </div>
      </div>
  </div>
 
</section>

<section>
  <h1 id="header">Features</h1>
  <h3 id="sub-header">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur
    adipiscing elit
  </h3>
</section>
